<div class="home-slides">
    <owl-carousel-o [options]="homeSlides">
        <ng-template carouselSlide>
            <div class="main-banner item-bg-two">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-text">
                                <h1><span>London</span> Experience</h1>
                                <p>
                                    ¿Quieres subirte en un Classic Mini Cooper
                                    para recorrer todas las calles de Londres?
                                </p>
                                <a
                                    (click)="onClick('contact')"
                                    class="btn btn-primary"
                                    >¡Lo quiero!</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="main-banner item-bg-one">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-text">
                                <h1>Durmiendo entre <span>Árboles</span></h1>
                                <p>
                                    ¿Cuántas veces de niño has soñado en dormir
                                    en una cabaña encima de un árbol?
                                </p>
                                <a
                                    (click)="onClick('contact')"
                                    class="btn btn-primary"
                                    >¡Lo quiero!</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="main-banner item-bg-three">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-text">
                                <h1>Experiencia <span>Taurina</span></h1>
                                <p>Capote en mano</p>
                                <a
                                    (click)="onClick('contact')"
                                    class="btn btn-primary"
                                    >¡Lo quiero!</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="main-banner item-bg-four">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-text">
                                <h1>El nuevo <span>Lujo</span></h1>
                                <p>
                                    Una noche o fin de semana en plena
                                    naturaleza
                                </p>
                                <a
                                    (click)="onClick('contact')"
                                    class="btn btn-primary"
                                    >¡Lo quiero!</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="main-banner item-bg-five">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-text">
                                <h1>Memorias de <span>África</span></h1>
                                <p>Experiencia magica por África</p>
                                <a
                                    (click)="onClick('contact')"
                                    class="btn btn-primary"
                                    >¡Lo quiero!</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>

<app-about></app-about>

<!-- <app-strategy></app-strategy> -->

<!-- <app-cta></app-cta> -->

<!-- <app-skill></app-skill> -->

<!-- <app-funfacts></app-funfacts> -->

<!-- <app-team></app-team> -->

<!-- <app-how-we-work></app-how-we-work> -->

<!-- <app-services-two></app-services-two> -->

<!-- <app-why-we-different></app-why-we-different> -->

<!-- <app-work></app-work> -->

<!-- <app-pricing></app-pricing> -->

<!-- <app-faq></app-faq> -->

<!-- <app-feedback></app-feedback> -->

<app-blog></app-blog>

<!-- <app-who-we-are></app-who-we-are> -->

<!-- <app-partner></app-partner> -->

<!-- <app-subscribe></app-subscribe> -->

<app-contact></app-contact>
