.change-exp-btn {
    position: sticky !important;
    bottom: 20px;
    z-index: 99;
}

@media (max-width: 468px) {
    .change-exp-btn {
        display: flex !important;
        div {
            a {
                padding: 15px 6px !important;
                border: 0.5px solid #9fa65a;
            }
            a:last-child {
                margin-left: 2px;
            }
        }
    }
}
