<div id="about" class="about-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Descubre <span>Ideal Experience</span></h2>
            <p>
                Nace del deseo de compartir todo aquello que me gusta, y me hace
                vibrar. Al ser hija de arquitecto y heredar de mi querida madre
                el buen gusto en todo lo que hacía, siempre me ha despertado
                interés la estética.
            </p>
            <br />
            <p>
                Otra de mis pasiones es viajar, creo que conocer otras culturas,
                costumbres y paisajes, es de las cosas más enriquecedoras.
                Viajar para mi es una interminable sucesión de primeras veces.
                Incluso cuando repites destino, en ese viaje, seguro vivirás
                nuevas experiencias.
            </p>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="section-title">
                        <h2>Somos tu <span>plan Perfecto</span></h2>
                        <p>
                            Unimos mis dos pasiones para dar luz a un proyecto,
                            donde el cliente pide sus deseos y nosotros los
                            hacemos realidad.
                        </p>
                    </div>
                    <ul class="features-list">
                        <li>
                            <i class="fas fa-check"></i>Buscamos el hotel
                            perfecto para tí
                        </li>
                        <li><i class="fas fa-check"></i>Viajes en familia</li>
                        <li><i class="fas fa-check"></i>Viajes románticos</li>
                        <li>
                            <i class="fas fa-check"></i>Viajes con los amigos
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="section-title">
                        <h2>Somos tu <span>Aventura</span></h2>
                        <p>También organizamos experiencias de un solo día.</p>
                    </div>
                    <ul class="features-list">
                        <li>
                            <i class="fas fa-check"></i>Dormir en tiendas de
                            campaña con todas las comodidades
                        </li>
                        <li>
                            <i class="fas fa-check"></i>Cenar con los tuyos bajo
                            la luz de las estrellas
                        </li>
                        <li>
                            <i class="fas fa-check"></i>Pasar un día entero con
                            una figura del torero
                        </li>
                    </ul>
                </div>
            </div>
            <br />
            <p style="text-align: center; margin-top: 20px">
                Esto solo son algunos de todos los momentos que te ofrecemos en
                nuestra web.
            </p>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="container">
        <div class="test">
            <h2>Nuestra <span>Razón de Ser</span></h2>
            <br />
            <p>
                Si algo hemos aprendido todos tras la pandemia, es a valorar
                mucho más esas cosas, que antes nos parecían tan normales, como
                poder respirar naturaleza, oler el mar, ver un atardecer mágico…
                y compartirlo con los tuyos.
            </p>
            <br />
            <p>
                Hace tiempo que me dijo un familiar, que cuando te haces mayor,
                y echas la vista atrás, de lo que más te acuerdas son de esos
                momentos especiales, distintos, esas experiencias diferentes que
                rompen la monotonía del día a día. En Ideal Experience queremos
                llenarte de vivencias, recuerdos, momentos que jamás olvidarás.
            </p>
            <br />
            <p>
                Espero que os guste mi nuevo proyecto y podamos disfrutar juntos
                de la vida. Y recuerda
                <strong>
                    “ Happiness is not a destination, it is a way of life”
                </strong>
            </p>
        </div>
    </div>
</div>
