<div id="blog" class="blog-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h4>Experiencias</h4>
            <h2>Nuestras <span>Experiencias</span> más destacadas</h2>
            <p>Aquí encontrarás las experiencias que más te recomendamos.</p>
        </div>
        <div class="blog-slides">
            <owl-carousel-o [options]="blogSlides">
                <ng-template carouselSlide>
                    <div class="single-blog-item bg1">
                        <span>Aventura</span>
                        <h3>
                            <a routerLink="/blog-details/trees"
                                >DURMIENDO ENTRE ARBOLES</a
                            >
                        </h3>
                        <p>
                            ¿Cuántas veces de niño has soñado en dormir en una
                            cabaña encima de un árbol?
                        </p>
                        <a
                            routerLink="/blog-details/trees"
                            title="Read More"
                            class="link-btn"
                            ><i class="fas fa-arrow-right"></i
                        ></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-blog-item bg2">
                        <span>Viaje</span>
                        <h3>
                            <a routerLink="/blog-details/london"
                                >LONDON EXPERIENCE</a
                            >
                        </h3>
                        <p>
                            ¿Quieres subirte en un Classic Mini Cooper para
                            recorrer todas las calles de Londres?
                        </p>
                        <a
                            routerLink="/blog-details/london"
                            title="Read More"
                            class="link-btn"
                            ><i class="fas fa-arrow-right"></i
                        ></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-blog-item bg3">
                        <span>Toros</span>
                        <h3>
                            <a routerLink="/blog-details/toros">EXPERIENCIA TAURINA</a>
                        </h3>
                        <p>
                            <br>Capote en mano<br>
                        </p>
                        <a
                            routerLink="/blog-details/toros"
                            title="Read More"
                            class="link-btn"
                            ><i class="fas fa-arrow-right"></i
                        ></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-blog-item bg4">
                        <span>Nuevo-Lujo</span>
                        <h3>
                            <a routerLink="/blog-details/nuevo-lujo">EL NUEVO LUJO</a>
                        </h3>
                        <p>
                            <br>cena en medio de la naturaleza<br>
                        </p>
                        <a
                            routerLink="/blog-details/nuevo-lujo"
                            title="Read More"
                            class="link-btn"
                            ><i class="fas fa-arrow-right"></i
                        ></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-blog-item bg5">
                        <span>Memorias de Africa</span>
                        <h3>
                            <a routerLink="/blog-details/Africa">MEMORIAS DE AFRICA</a>
                        </h3>
                        <p>
                            <br>cena en medio de la naturaleza<br>
                        </p>
                        <a
                            routerLink="/blog-details/Africa"
                            title="Read More"
                            class="link-btn"
                            ><i class="fas fa-arrow-right"></i
                        ></a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
